*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.animate-spins{
   animation : spin 6s linear infinite ;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}